{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'id': 'registration_form'}}) }}
        {{ form_row(registrationForm.username, {attr: {'class': 'label', 'placeholder': ' '}}) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.surname) }}
        {{ form_row(registrationForm.patronymic) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password, {
            label: 'Пароль'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Зарегестрироваться</button>
    {{ form_end(registrationForm) }}
{% endblock %}
