<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <script defer src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
    <title>О нас</title>
</head>
<body>
{{ include('components/header.html.twig') }}
<img src="{{ asset('img/background.svg') }}" alt="back" id="app-background">
<section class="page-title">
    <h1>{{ page_name }}</h1>
</section>
<div class="container">
    <section class="about-us">
        <img src="{{ asset('img/logo.png') }}" alt="logo">
        <p>Lorem ipsum dolor sit amet consectetur. In orci vitae diam ornare convallis quam bibendum. Condimentum auctor
            tempor tortor ut non vitae imperdiet. Et sit ornare elementum enim adipiscing aliquam mi adipiscing.
            Tristique fames sed facilisis ut phasellus lectus varius faucibus.</p>

    </section>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% set first = true %}
            {% for product in products %}
            <div class="carousel-item {{ first==true ? 'active' : '' }}">
                {% set first = false %}
                <div class=" w-100 my-slider-item">
                    <img src="{{ asset('upload/images/' ~ product.image) }}" alt="">
                    <div class="info">
                        <h1>{{ product.name }}</h1>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</body>
</html>