<header>
    <nav class="nav">
        <img src="{{ asset('img/logo.png') }}" alt="logo">
        <a href="{{ path('about_us') }}">О нас</a>
        <a href="{{ path('catalog') }}">Каталог</a>
        <a href="">Где нас найти?</a>
    </nav>
    <nav class="account">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ app.user.name + '' + app.user.surname }}
            <a href="">Выйти</a>
        {% else %}
        <a href="{{ path('app_register') }}">Регистрация</a>
        <a href="">Войти</a>
        {% endif %}
    </nav>
</header>