{% extends 'base.html.twig' %}

{% block title %} {{ page_name }}{% endblock %}

{% block body %}

<section id="catalog">
    <div class="filter">

    </div>
    <div class="catalog">
        {% for product in products %}
        <div class="item">
            <img src="{{ asset('upload/images/' ~ product.image) }}" alt="">
            <div class="info">
                <a class="title" href="#">{{ product.name}}</a>
                <p>от {{ product.cost|slice(0,-2) }} руб.</p>
                <a class="btn" href="{{ path('app_product', {id: product.id}) }}">
                   Подробнее
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
